<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="searchpanel">
<% form_for @search do |f| %>
  <%= f.label :company_name_like, "Account Name:" %>
  <%= f.text_field :company_name_like,:maxlength => 50, :size => 25 %>
  <%= f.submit "Filter", :class => "searchbutton" %>
<% end %>
</div>