<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div class="right-container">
  <% if permitted_to? :new, Custaccount.new %>
    <%= link_to 'New Customer', new_custaccount_path,  :class => "newbutton" %>
  <% end %>
</div>
<% end %>
