<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div class="right-container">
  <% if permitted_to? :new, Branch.new %>
    <%= link_to 'New Branch', new_branch_path %>
  <% end %>
</div>
<% end %>
