.listing { width: 100%;
          border-collapse: collapse;
          margin: 2px 0 16px 0;
          background: #fff;
          border-top: 1px solid #ccc;
          }
.listing th, .listing td { text-align: left; padding: 4px 2px; border-bottom: 1px solid #ccc; }
.listing th { padding: 6px 2px; }
.listing tr.header { background: #DDDDDD;}
.listing tr.header:hover { background: #DDDDDD; }
.listing tr.even { background: #E1E5EB; }
.listing tr.odd { background:#fff;}
.listing tr:hover { background: #ecf4fd; }
.listing td:hover {
    cursor: pointer;
}


.sublisting { padding: 1em; border-bottom: 1px solid #ccc;  }
.sublisting .dropdowndetails {padding: 1em; background: #EBF0F5; }

.admin {  width: auto;
          border-collapse: collapse;
          margin: 2px 0 16px 0;
          background: #fff;
          }
.admin th { text-align: left; padding: 4px 2px;  }
.admin td { text-align: left; padding: 4px 2px;}
.admin tr.header:hover { background: #fff; }
.admin tr:hover { background: #ecf4fd; }
.admin td.invisible span { display:none; margin: 0; padding: 0; background: #fff }
.admin tr:hover span { display:inline; }
.admin tr .dellink { margin: 0; padding: 4px 4px 4px 20px; background: #fff url('../images/delete.gif') no-repeat 2px;  font-weight: normal; border: 1px solid #fee; }
.admin tr .showlink { margin: 0; padding: 4px 4px 4px 20px; background: #fff url('../images/details.gif') no-repeat 2px;  font-weight: normal; border: 1px solid #fee; }






.info { width: 100%;
        border-collapse: collapse;
        margin: 1em 0 16px 0;
        background: #EBF0F5;
        border-top: 1px solid #ccc;
        }
.info tr {
        border-bottom: 1px solid #ccc;
}
.info td {
     padding: 1px;
     text-align: left;
}
.info td.field {
    font-weight: 600;
}


img
{  
   border-style: none;
   margin: auto;

}

#errorExplanation { width: 65%; display: block; border: 2px solid #c00; padding: 7px 7px 12px 7px; margin: 0 auto 12px auto; background-color: #fee; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#errorExplanation h2 { text-align: left; margin: -7px; font-weight: bold; padding: 5px 5px 5px 25px; font-size: 11px; background: #fee url('../images/exclamation.png') 5px center no-repeat; color: #c00; border-bottom: 1px dotted #c00; text-shadow: none; }
#errorExplanation p { margin: 5px 0; padding: 5px; }
#errorExplanation ul li { font-size: 11px; list-style: square; }
#errorExplanation ul { padding: 0 0 0 15px; }
.fieldWithErrors { border: 2px solid #c00; display: inline-block; padding: 0; margin: 0; }
.validation-error { font-size: 11px; color: #c00; font-style: italic; font-weight: normal; }