/* 
    Document   : print
    Created on : 15 Sep, 2010, 10:56:48 PM
    Author     : chintdo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div#menu, div#submenu, div#footer {
    display:none;
}