/* 
    Document   : application
    Created on : 15 Sep, 2010, 2:14:57 PM
    Author     : chintdo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
	margin : 0;
	padding : 0;
}

select {
	padding-right : 20px;
}

a {
	color : #437fda;
}
a:visited {
	color : #437fda;
}
a:hover {
	color : #000;
}

html {
	color : #333;
	font-size: 80%;
	text-align : justify;
}

img {
	margin : 1em 1em 0 1em;
}
img.left {
	float : left;
	margin : 1em 1em 0 0;
}
img.right {
	float : right;
	margin : 1em 0 0 1em;
}


p {
	padding : 1em 1em 0 1em;
}


#main {
	margin : auto;
	width : auto !important;
        min-width: 860px;
}

#header {
	background : #2b548c url('../images/header_bg.png') repeat-x bottom left;
	padding : 1.5em 1em 1em 1em;
}
#header h1 {
	color : #ffffff;
	font : italic 200% sans-serif;
}

#status { float:right; color: #bbb; font-size: 12px; background: #2d2d2d; padding: 2px 7px 4px 7px; border: 1px solid #707070; border-width: 0 1px 1px 1px; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }
#status a:link, #status a:visited { color: #bbb; font-size: 12px; }
#status a:hover { color: #90af4c; }

#lastupdated { float:right; color: #777; font-size: 12px;  padding: 2px 7px 4px 7px;  }

#menu {
	background : #437fda;
	border-bottom : 1px solid #2b548c;
	font-size : 100%;
        font-weight: 700;
        text-align: right
}
#menu ul {
	padding : 0.75em 4em;
}
#menu li {
	display : inline;
}
#menu li a {
	color : #fff;
	padding : 0.75em 1.5em;
        text-decoration: none;
        background: #437fda;
}
#menu li a:hover {
	background : #2b548c;
}
#menu li.current {
	background : #E6E4ED;
	border : 1px solid #2b548c;
	border-bottom : 1px solid #E6E4ED;
	color : #000;
        padding : 0.75em 1.5em;
}


#content {
            border-bottom : 1px solid #cfcfcf;
            height : auto !important;
            height : 1%;
            overflow: hidden;
            background-color: #E6E4ED;
    }

#left-column { float: left; width: 70%; margin: 2em 0 2em 2em;
                   padding: 2em 2em; border:1px solid #646369; background-color: #fff;}

#right-column { float: left; width: auto; background-color: #E6E4ED; padding: 2em 1em; }

#panel {
        background: #EBF0F5;
	border : 1px solid #cfcfcf;
	height : auto !important;
	height : 1%;
	overflow : hidden;
        margin-top: 1em;
        margin-bottom: 2em;
        padding: 2em;
}

#searchpanel {
        background:#E6E4ED;
	border : 1px solid #cfcfcf;
        width: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 5px;
}

#adminpanel {
        background: #EBF0F5;
	border : 1px solid #cfcfcf;
	height : auto !important;
	height : 1%;
        width: 50%;
	overflow : hidden;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 5px;
}

.grid {
        background:#EBF0F5;
	border : 1px solid #cfcfcf;
        width: auto;
        margin: 1em;
        padding: 1em;
        float: left;
}


#footer {
	font-size : 95%;
	margin : auto;
	padding : 1em 0 3em 0;
	text-align : center;
	width : 65%;
}

#toolbar {
    float:right;
    padding: 4px 4px;
    font-size: 11px;
}
