<h1>Register</h1>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f, :locals => { :mode => "new"} %>
  <%= f.submit "Register", :class => 'savebutton' %>
<% end %>