<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div class="right-container">
    <% if permitted_to? :new, Order.new %>
      <%= link_to 'New Order', new_order_path, :class => "newbutton" %>
    <% end %>
    <%=  render :partial => 'orderfilter' %>
</div>
<% end %>
