<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div>
  <% if permitted_to? :new, PetrolPump.new %>
    <%= link_to 'New Petrol Pump', new_petrol_pump_path %>
  <% end %>
</div>
<% end %>
