<div id="panel">
  <h3> Fleet Card </h3>
  <p>
    <%= form.label :name, "Name" %><br />
    <%= form.text_field :name, :size => 50, :maxlength => 50 %>
  </p>
  <p>
    <%= form.label :details, "Details" %><br />
    <%= form.text_area :details, :cols => 25, :rows => 3, :maxlength => 100   %>
  </p>
</div>
