<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="searchpanel">
<% form_for @search do |f| %>
  <%= f.label :consignee_name_like, "Consignee Name:" %>
  <%= f.text_field :consignee_name_like,:maxlength => 50, :size => 40 %>
  <%= f.submit "Filter", :class => "searchbutton" %>
<% end %>
</div>