<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div>
  <% if permitted_to? :new, Consignee.new %>
    <%= link_to 'New Consignee', new_consignee_path %>
  <% end %>
</div>
<% end %>
