<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="searchpanel">
<% form_for @search do |f| %>
  <%= f.label :consignor_name_like, "Consignor Name:" %>
  <%= f.text_field :consignor_name_like,:maxlength => 50, :size => 40 %> <br/>
  <%= f.submit "Filter" %>
<% end %>
</div>