<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div class="right-container">
  <%= button_to 'New Driver', new_driver_path, :method => :get, :class => "button" %>
  <%= button_to 'New Vehicle', new_driver_path, :method => :get, :class => "button" %>
</div>
<% end %>
