<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div>
  <% if permitted_to? :index, Vehicle.new %>
  <%= link_to 'Active Vehicles', vehicles_path,  :method => :get %><br/>
  <% end %> 
  <% if permitted_to? :new, Vehicle.new %>
  <%= link_to 'New Vehicle', new_vehicle_path %> <br/>
  <% end %> 
  <% if permitted_to? :retired, Vehicle.new %>
  <%= link_to 'Retired Vehicles', retired_vehicles_path, :method => :get %> <br/>
  <% end %>
</div>
<% end %>
