<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div class="right-container">
  <% if permitted_to? :index, Vehicle.new %>
  <%= link_to 'Active Vehicles', vehicles_path,  :class => "indexbutton", :method => :get %><br/> <br/>
  <% end %> 
  <% if permitted_to? :new, Vehicle.new %>
  <%= link_to 'New Vehicle', new_vehicle_path,  :class => "newbutton" %> <br/> <br/>
  <% end %> 
  <% if permitted_to? :retired, Vehicle.new %>
  <%= link_to 'Retired Vehicles', retired_vehicles_path,  :class => "indexbutton", :method => :get %> <br/> <br/>
  <% end %>
</div>
<% end %>
