<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div class="right-container">
  <%= link_to 'New Vehicle', new_vehicle_path,  :class => "newbutton" %>
</div>
<% end %>
