<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% content_for :sidebar_links_list do %>
<div>
  <% if permitted_to? :new, Fuel.new %>
  <%= link_to 'New Fuel Allocation', new_fuel_path %> <br/>
  <% end %> 
  <% if permitted_to? :new, Fuel.new %>
  <%= link_to 'Reconcile', new_fuel_path %> <br/> 
  <% end %> 
</div>
<% end %>
